footer{
    justify-content: center;
    background-color: black;
    bottom: 0px;
    position: fixed;
    width: 100%;
    left: 0px;
    display: flex;
    h2{
        
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 5px;


    }
}